<div class="table">

    <thead>

        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Salary</th>
            <th scope="col">Action</th>
        </tr>

    </thead>

    <tbody>

        <tr *ngFor="let emp of employees; let i = index">
            <td>{{ i }}</td>
            <td>{{ emp.name }}</td>
            <td>{{ emp.email }}</td>
            <td>{{ emp.salary }}</td>
            <th>
                <button class="btn btn-primary btn-sm mx-2" routerLink="edit-employee/{{ emp._id }}">Edit</button>
                <button class="btn btn-danger btn-sm mx-2" (click)="deleteData(emp._id)">Delete</button>
            </th>
        </tr>

    </tbody>

</div>
