<div class="container">

    <form (ngSubmit)="insertData()" [formGroup]="form">

        <!-- Name -->
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors}">

            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="submitted && f.name.errors">
                    Name is required
                </div>
            </div>
        </div>

        <!-- Email -->
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" formControlName="email">
        </div>

        <!-- Salary -->
        <div class="form-group">
            <label for="salary">Salary</label>
            <input type="text" name="salary" class="form-control" formControlName="salary">
        </div>

        <button class="btn btn-dark btn-sm mt-4">
            Submit
        </button>

    </form>

</div>
